# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
keystore.properties
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaper_src_assets_backchevron.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_src_images_airbnbstar.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_src_images_airbnbstarselected.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_src_images_bell.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_src_images_heart.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_src_images_rocket.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_src_images_star.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_stack_src_views_assets_backiconmask.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_add.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_aproved.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_bank2.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_bankbuilding.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_bankbuildingblack.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_buy.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_buysell.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_calendar.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_callanswer.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_email.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_file.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_homeiconsilhouette.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_idcard.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_mapsandflags.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_pending.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_piggybank.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_sell.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_user.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_verus.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/java_pid17246.hprof
android/java_pid22456.hprof
android/app/debug.keystore
android/keystores/debug.keystore
ios/verusMobile.xcodeproj/project.pbxproj
ios/verusMobile.xcodeproj/project.pbxproj
android/app/src/main/res/mipmap-hdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_monochrome.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_monochrome.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_monochrome.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_monochrome.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_monochrome.png
android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnative_libraries_newappscreen_components_logo.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backiconmask.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_coinsicon.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_recovericon.png
android/app/src/main/res/drawable-mdpi/src_images_customicons_revokeicon.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
android/app/src/main/assets/index.android.bundle
shim.js
package.json
